/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Josefin Sans";
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-family: "Josefin Sans";
  font-size: 5rem;
}

h3 {
  font-family: "Trirong";
  font-style: italic;
  font-weight: 400;
  font-size: 2.5rem;
}

h4 {
  font-family: "Trirong";
  font-weight: 500;
  font-size: 3.5rem;
}

h5 {
  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: 1.5rem;
}

p {
  font-family: "Oxygen";
  line-height: 2.5rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.blue-button-nav {
  background-color: #b0c6b6;
  color: white;
  padding: 0.5rem 1rem 0.3rem 1rem;
  font-family: "Josefin Sans";
  border: none;
}

.blue-button {
  background-color: #b0c6b6;
  color: white;
  padding: 0.5rem 1rem 0.3rem 1rem;
  font-family: "Josefin Sans";
  border: none;
}

.green-button {
  background-color: #534e2c;
  color: white;
  padding: 0.5rem 1rem 0.3rem 1rem;
  font-family: "Josefin Sans";
  border: none;
  max-height: 3rem;
}

.orange-button {
  background-color: #b26e3e;
  color: white;
  padding: 0.5rem 1rem 0.3rem 1rem;
  font-family: "Josefin Sans";
  border: none;
  max-height: 3rem;
}

nav {
  background-color: #fbf7ea;
  padding: 1rem 5rem 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.nav-pages {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.woodhouse-logo {
  max-width: 15rem;
}

.cta {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

nav a {
  font-family: "Josefin Sans";
  color: #272522;
  text-decoration: none;
}

.orange-hero {
  background-image: url(../svg/orange-hero.svg);
  background-size: cover;
  color: white;
  max-width: 50rem;
  padding: 5rem;
}

.hero-left {
  max-width: 50rem;
}

.hero-left img {
  object-fit: cover;
}

.brand-message {
  display: flex;
  max-height: 80vh;
  overflow: hidden;
  object-fit: cover;
}

.hi-there {
  background-color: white;
  max-height: 70vh;
}

.about-card {
  background-color: #fbf7ea;
  margin: 6rem 17rem 6rem 17rem;
  padding: 5rem;
  color: #272522;
  display: flex;
  gap: 5rem;
  max-height: 35rem;
}

.about-card img {
  max-width: 20rem;
  object-fit: cover;
}

.services {
  background-color: #b0c6b6;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5rem;
  max-height: 30rem;
}

.services-buttons {
  display: flex;
  justify-content: space-between;
  max-width: 30rem;
  align-items: center;
}

.services-buttons img {
  max-width: 15rem;
  align-self: center;
}

.services-buttons button {
  min-width: 10rem;
}

.recent-projects {
  color: #272522;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

.project-cards {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 3rem;
}

.project-cards p {
  margin-top: 0rem;
}

.category {
  font-family: "Trirong";
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
}

.steps {
  background-color: #534e2c;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

.steps h4 {
  font-style: italic;
}

.step-cards {
  display: flex;
  text-align: center;
  gap: 5rem;
  max-width: 80rem;
  margin-bottom: 3rem;
}

.yellow-hero {
  background-image: url(../svg/yellow-hero.svg);
  background-size: cover;
  color: white;
  padding: 5rem;
}

.package-left {
  object-fit: cover;
  min-width: 55%;
}

.package-right img {
  object-fit: cover;
  max-height: 50%;
}

.packages {
  display: flex;
  max-height: 80vh;
  overflow: hidden;
  object-fit: cover;
}

.packages p {
  font-family: "Trirong";
  font-style: italic;
  font-size: 1.75rem;
  font-weight: 400;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.review-carousel {
  display: flex;
  margin: 0rem 10rem 0rem 10rem;
  justify-content: space-between;
  gap: 5rem;
}

.scroll {
  max-width: 5rem;
}

.review-card {
  background-color: #fbf7ea;
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  min-width: 50rem;
  gap: 3rem;
  margin-bottom: 5rem;
}

.review-card p {
  font-size: 1rem;
  margin-top: 2rem;
}

.review-card img {
  max-width: 10rem;
}

.instagram {
  background-color: #fbf7ea;
  padding: 3rem 7rem 3rem 7rem;
}

.instagram-cta {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.instagram-cta p {
  font-family: "Trirong";
  font-style: italic;
  font-size: 1.75rem;
  font-weight: 400;
}

.instagram-container {
  display: grid;
  object-fit: cover;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.instagram-container img {
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background-color: #b26e3e;
  padding: 3rem 5rem 3rem 5rem;
  display: flex;
  justify-content: space-between;
  gap: 30rem;
}

footer a,
h4 {
  font-family: "Josefin Sans";
  color: white;
  text-decoration: none;
  line-height: 3rem;
}

.footer-pages {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.footer-logo {
  max-width: 15rem;
}

.footer-cta {
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: right;
  max-width: 15rem;
}

.footer-cta h4 {
  font-size: 1.5rem;
}

.footer-cta img {
  max-width: 2rem;
}

.footer-social {
  display: flex;
  justify-content: right;
  gap: 1rem;
  margin-top: 1rem;
}
